* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/natural-pattern.png);
}

.container {
  margin: auto;
  width: 60%;
}

/* header */

header {
  width: 100%;
}

/* header-top */
.header-top {
  position: relative;
  height: 300px;
  border: 10px solid rgb(255, 250, 250);
  background-image: url(../img/natural-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-logo img {
  height: 150px;
}
.container-logo h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  color: rgb(255, 250, 250);
}

/* header-bottom */
.header-bottom {
  height: 40px;
  line-height: 40px;
  background-color: grey;
}
.header-bottom nav ul {
  list-style: none;
  text-align: center;
}
.header-bottom nav ul li{
  height: 40px;
  display: inline-block;
}
.header-bottom nav ul li a{
  display: inline-block;
  padding: 0 5px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  vertical-align: bottom;
}

.header-bottom nav ul li:hover a{
  background-color: lightgrey;
  cursor: pointer;
}

/* main */
.main-content {
  margin: 10px 0;
}

.main-content::after {
  content: '';
  display: table;
  clear: both;
}

/* colonna sinistra */
.float-left {
  float: left;
  border-radius: 6px;
}

.col-left {
  width: 18%;
  background-color: rgb(254, 254, 254);
  padding: 5px;
}
.col-left-header {
  margin-bottom: 10px;
}
.col-left-header::after {
  content: '';
  display: table;
  clear: both;
}

.col-left-header i,
.col-left-header h3 {
  float: left;
}
.col-left h3 {
  width: 60%;
  text-align: center;
  color: rgb(80, 71, 65);
}

.col-left i {
  color: rgb(255, 135, 42);
  font-size: 25px;
  margin-right: 7px;
}

.col-left ul {
  list-style: none;
}

.col-left ul li {
  margin-bottom: 6px;
}

.col-left ul li a {
  text-decoration: none;
  color: rgb(63, 200, 20);
  font-size: 14px;
}

.col-left ul li a:hover {
  text-decoration: underline;
}
/* colonna centrale */
.col-center {
  width: 56%;
  margin: 0 4%;
  padding: 20px;
  background-color: rgb(254, 254, 254);
}

.col-center-title {
  font-size: 22px;
  color: rgb(80, 71, 65);
  text-shadow: 1px 1px 1px rgb(80, 71, 65);
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* colonna destra */
.col-right {
  width: 18%;
}

.widget {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgb(254, 254, 254);
  border-radius: 6px;
}

.widget h3 {
  font-size: 22px;
  color: rgb(80, 71, 65);
  text-shadow: 1px 1px 1px rgb(80, 71, 65);
  margin-bottom: 20px;
}
/* footer */

footer {
  background-color: rgb(254, 254, 254);
  height: 150px;
  border-radius: 6px;
  margin-bottom: 40px;
}
