* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: yellow;
}

.container {
  margin: auto;
  width: 60%;
}

/* header */

header {
  width: 100%;
}

/* header-top */
.header-top {
  position: relative;
  height: 300px;
  border: 10px solid rgb(255, 250, 250);
  background-image: url(../img/natural-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-logo img {
  height: 150px;
}
.container-logo h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  color: rgb(255, 250, 250);
}

/* header-bottom */
.header-bottom {
  height: 40px;
  line-height: 40px;
  background-color: grey;
}
.header-bottom nav ul {
  list-style: none;
  text-align: center;
}
.header-bottom nav ul li{
  height: 40px;
  display: inline-block;
}
.header-bottom nav ul li a{
  display: inline-block;
  padding: 0 5px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  background-color: lightgrey;
}

/* main */
.main-content {
  background-color: red;
  height: 1000px;
  margin: 10px 0;
}

.main-content::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.col-left {
  width: 18%;
  height: 200px;
  background-color: rgb(209, 123, 26);
}

.col-center {
  width: 56%;
  height: 300px;
  margin: 0 4%;
  padding: 10px;
  background-color: rgb(91, 163, 51);
}

.col-right {
  width: 18%;
  height: 200px;
  background-color: rgb(209, 123, 26);
}

.widget {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: brown;
}
/* footer */

footer {
  background-color: green;
  height: 150px;
}
