* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: yellow;
}

.container {
  margin: auto;
  width: 60%;
  padding: 15px 0;
  text-align: center;
}

/* header */

header {
  background-color: blue;
  height: 250px;
}
.header-top {
  height: 210px;
  background-color: purple;
}
.header-bottom {
  height: 40px;
  background-color: grey;
}

/* main */

.main-content {
  background-color: red;
  height: 1000px;
  margin: 10px 0;
}

.main-content::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.col-left {
  width: 18%;
  height: 200px;
  background-color: rgb(209, 123, 26);
}

.col-center {
  width: 56%;
  height: 300px;
  margin: 0 4%;
  padding: 10px;
  background-color: rgb(91, 163, 51);
}

.col-right {
  width: 18%;
  height: 200px;
  background-color: rgb(209, 123, 26);
}

.widget {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: brown;
}
/* footer */

footer {
  background-color: green;
  height: 150px;
}
